.input{
    border-radius: 10px;
    /* text-align: center; */
    border-color: #3e8ff7;
    color: #252c48;
    padding: .5rem;
    outline: none;
    
}

.input:focus {
    outline: none;
}

.input:focus::-webkit-input-placeholder {
    color: transparent;

 }

.input::-webkit-input-placeholder{
    color: #252c48;

}

.input::-webkit-input-placeholder{
    color: #252c48;

}

.input::-webkit-input-placeholder{
    color: #252c48;

}