.nome-cadastro-cargo::-webkit-input-placeholder {
  color: #252c48;
}

.horário-entrada::-webkit-input-placeholder {
  color: #252c48;
}

.horário-saída::-webkit-input-placeholder {
  color: #252c48;
}
